.App {
  text-align: center;
}

body {
    background-color: #222;
    color: #ddd;
    background-image: url("images/body_background.jpg");
}

.game {
    width: 900px;
    margin: auto;
}

.game-board {
    margin-top: 55px;
}

.top-bar {
    float: right;
    width: 295px;
    display: inline-block;
}

.header {
    background-image: url("images/header_logo.png");
    display:inline-block;
    height:200px;
    width: 520px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.subheader {
    background-image: url("images/subheader_logo.png");
    display:inline-block;
    width:900px;
    height:96px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.dice-tray {
    margin-top: 35px;
    float: right;
    width: 295px;
    display: inline-block;
}

.dice-tray locked {
    height: 250px;
}

.die {
    width:40px;
    height:40px;
    border: 3px solid #222;
    font-size: 2.3em;
    margin: 15px;
    display: inline-block;
    float: right;
    color: #ada;
    background-color: #494;
    border-radius: 20%;
}

.disabled {
    background-color: #666;
    color: #ddd;
}

.locked {
    background-color: #994;
    color: #dda;
}

.view-pane {
    display: inline-block;
    width: 600px;
    height: 500px;
    float: left;
    background-color: blue;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
    border: 2px solid #222;
}

.life-list {
    list-style-typ: ;e: none;
    margin: 0;
    padding: 0;
}

.life {
    display: inline-block;
    margin: 4px;
    font-size: 1.5em;
    color: red;
}

.score {
    font-size: 2.5em;
}

.throw-again {
    background-color: #777;
}

.locked-tray {
    display: inline-block;
    margin-bottom: 5px;
}

.free-tray {
    display: inline-block;
}

.tile {
    width: 448px;
    height: 320px;
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
}

.center {
    left: 76px;
    top: 90px;
}

.topleft {
    left: -372px;
    top: -230px;
}

.topmid {
    left: 76px;
    top: -230px;
}

.topright {
    left: 524px;
    top: -230px;
}

.midleft {
    left: -372px;
    top: 90px;
}

.midright {
    left: 524px;
    top: 90px;
}

.botleft {
    left: -372px;
    top: 410px;
}

.botmid {
    left: 76px;
    top: 410px;
}

.botright {
    left: 524px;
    top: 410px;
}

.image_border {
    background-color: #000;
    width: 500px;
    height: 400px;
}

.image_0_1 {
    background-image: url("images/tiles/tile0_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_0_2 {
    background-image: url("images/tiles/tile0_2_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_0_3 {
    background-image: url("images/tiles/tile0_3_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_1_1 {
    background-image: url("images/tiles/tile1_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_1_2 {
    background-image: url("images/tiles/tile1_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_2_1 {
    background-image: url("images/tiles/tile2_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_2_2 {
    background-image: url("images/tiles/tile2_2_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_3_1 {
    background-image: url("images/tiles/tile3_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_4_1 {
    background-image: url("images/tiles/tile4_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_5_1 {
    background-image: url("images/tiles/tile5_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_6_1 {
    background-image: url("images/tiles/tile6_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_7_1 {
    background-image: url("images/tiles/tile7_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_8_1 {
    background-image: url("images/tiles/tile8_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.image_9_1 {
    background-image: url("images/tiles/tile9_1_224_160.png");
    width: 448px;
    height: 320px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
}

.key {
    display: inline-block;
    font-size: 1.5em;
}

.keyList_botmid {
    margin: 15px;
    display: inline-block;
    color: #daa;
    background-color: #944;
    border-radius: 20%;
    padding: 10px;
}

.keyList_topmid {
    margin: auto;
    display: inline-block;
    color: #daa;
    background-color: #944;
    border-radius: 20%;
    padding: 10px;
    top: 240px;
    left: 195px;
    position: absolute;
}

.keyList_midleft {
    margin: auto;
    display: inline-block;
    color: #daa;
    background-color: #944;
    border-radius: 20%;
    padding: 10px;
    top: 105px;
    left: 355px;
    position: absolute;
    transform: rotate(270deg);
}

.keyList_midright {
    margin: auto;
    display: inline-block;
    color: #daa;
    background-color: #944;
    border-radius: 20%;
    padding: 10px;
    position: absolute;
    top: 115px;
    transform: rotate(90deg);
    left: 5px;
}

.keyList_center {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.keyList_topLeft {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.keyList_topRight {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.keyList_botLeft {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.keyList_botRight {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.keyList_border {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.overlay-passing {
  width: 100%;
  height: 1500px;
  background: rgba(255,3,155,0.2);
  z-index: -2;
  position: fixed;
  left: 0px;
}


.barbarian {
    width:80px;
    height:80px;
    background-image: url("images/sprite/barbarian.png");
    z-index: 12;
    position: absolute;
    display: block;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    left: 258px;
    top: 222px;
}


.blue {
    background: rgba(3,3,220,0.4);
}
.lightblue {
    background: rgba(93,93,220,0.8);
}
.orange {
    background: rgba(233,123,20,0.2);
}
.green {
    background: rgba(3,223,0,0.1);
}
.lightgreen {
    background: rgba(113,240,120,0.4);
}
.red {
    background: rgba(243,3,22,0.4);
}
.yellow {
    background: rgba(200,220,0,0.6);
}
.pink {
    background: rgba(185,3,220,0.5);
}

.none {
    background: rgba(185,232,220,0.9);
}

.timer-box {
    width:90%;
    height: 30px;
    display: inline-block;
}
